/* icons from https://simpleicons.org/ */
.skillsIcon {
  width: 4vmin;
  height: 4vmin;
  padding: 8px;
  filter: invert(52%) sepia(0%) saturate(2875%) hue-rotate(140deg) brightness(97%) contrast(104%);
  transition: .8s;
}

.skillsIcon:hover {
  filter: invert(43%) sepia(27%) saturate(6796%) hue-rotate(323deg) brightness(101%) contrast(98%);
}

@media screen and (max-width: 800px) {
  .skillsIcon {
    width: 8vw;
    height: 8vw;
  }
}